body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    padding: 1%; 
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; 
    max-width: 250px; 
    margin: 0 auto;
    background: linear-gradient(145deg, #e0e0e0, #646060); 
    padding: 15px; 
    border-radius: 10px;
    box-shadow: 
        0px 10px 20px rgba(0, 0, 0, 0.25), 
        inset 0px -5px 10px rgba(0, 0, 0, 0.2), 
        inset 0px 5px 10px rgba(255, 255, 255, 0.1); 
    border: 2px solid #1c1c1e; 
}


.display {
    grid-column: span 4;
    background: #9bed95;
    padding: 10px; 
    font-size: 1.8em; 
    text-align: right;
    border-radius: 5px;
}

button {
    background: #F2E7D5; 
    border: none;
    font-size: 1.3em; 
    padding: 15px; 
    cursor: pointer;
    border-radius: 10px; 
    transition: all 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    color: #2C3E50; 
}

button.operator {
    background: #ff4081;
    color: #fff;
}

button.equals {
    background: #4caf50;
    color: #fff;
    grid-column: span 2;
}

button:hover {
    background: #d4d4d4;
}

button:active {
    transform: scale(0.95);
}

.title {
    grid-column: span 4;
    text-align: center;
    font-size: 1.6em; 
    font-weight: bold;
    padding: 9px; 
    background: linear-gradient(145deg, #bdbdbd, #8d8d8d); 
    color: #291e1e; 
    border-radius: 8px; 
    margin-bottom: 10px; 
    box-shadow: inset 0px 3px 5px rgba(51, 51, 51, 0.2); 
    border: 2px solid #99999e; 
}